.splitgroup{
    display: flex;
}

.splitbutton{
    margin-top: 5px;
    margin-left: 1350px;
    color: white;
    background-color: #ea5455;
    height: 35px;
    width: 80px;
}

.grouptitle{
    height: 40px;
    text-align: center;
    background-color: #929aab;
}